.app-logo {
  display: inline-block;
  height: 100%;

  &-image {
    width: 120px;
    animation: logo-spin infinite 21s linear;

  }

  @keyframes logo-spin {
    0% {
      transform: perspective(500px) rotateY(-42deg);
      -webkit-transform: perspective(500px) rotateY(-42deg);
      -moz-transform: perspective(500px) rotateY(-42deg);
      -ms-transform: perspective(500px) rotateY(-42deg);
      -o-transform: perspective(500px) rotateY(-42deg);
    }

    50% {
      transform: perspective(500px) rotateY(0deg);
      -webkit-transform: perspective(500px) rotateY(0deg);
      -moz-transform: perspective(500px) rotateY(0deg);
      -ms-transform: perspective(500px) rotateY(0deg);
      -o-transform: perspective(500px) rotateY(0deg);
    }

    100% {
      transform: perspective(500px) rotateY(-42deg);
      -webkit-transform: perspective(500px) rotateY(-42deg);
      -moz-transform: perspective(500px) rotateY(-42deg);
      -ms-transform: perspective(500px) rotateY(-42deg);
      -o-transform: perspective(500px) rotateY(-42deg);
    }
  }
}