// Reset scss

* {
    padding: 0;
    margin: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #000;
    text-transform: initial;
    max-width: 1920px;
    margin: 0 auto;
    overflow-x: hidden;
}

a,
a:hover,
a:active,
a:focus {
    display: inline-block;
    text-decoration: none;
    color: #444a57;
    font-size: 20px;
    padding: 0;
    font-weight: 500;
    text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}

p {
    margin: 0;
    color: #818998;
    font-size: 16px;
    line-height: 1.8;
    text-transform: initial;
}

img {
    border: none;
    max-width: 100%;
    height: auto;
}

ul {
    padding: 0;
    margin: 0 auto;
    list-style: none;
}

ul li {
    list-style: none;
    display: inline-block;
    color: #ffffff;
}

select,
input,
textarea,
button,
.form-control {
    box-shadow: none;
    outline: 0 !important;
}

button {
    background: transparent;
    border: 0;
    font-size: 16px;
    text-transform: capitalize;
}

html,
body {
    height: 100%;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    font-weight: 500;
    color: #ffffff;
    text-decoration: inherit;
}

a:hover {
    color: #fae34e;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #fae34e;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
    &-dir-row {
        flex-direction: row;
    }
    &-dir-col {
        flex-direction: column;
    }
    &-align-center {
        align-items: center;
    }
    &-align-left {
        align-items: left;
    }
    &-align-right {
        align-items: right;
    }
    &-justify-center {
        justify-content: center;
    }
    &-justify-left {
        justify-content: left;
    }
    &-justify-right {
        justify-content: right;
    }
    &-justify-spaceBetween {
        justify-content: space-between;
    }
}
